version: '3.8'

services:
  actualbudget:
    image: {{ actualbudget_image }}
    container_name: {{ container_name }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.actualbudget.rule=Host(`{{ subdomain }}.{{ cluster_domain }}`)"
      - "traefik.http.routers.actualbudget.entrypoints=websecure"
      - "traefik.http.routers.actualbudget.tls.certresolver=letsencrypt"
    restart: unless-stopped
    volumes:
{% for volume in volumes %}
      - "{{ volume.src }}:{{ volume.dst }}"
{% endfor %}
    ports:
{% for port in ports %}
      - "{{ port.ext }}:{{ port.int }}"
{% endfor %}
    networks:
      - frontend

networks:
  frontend:
    external: true