global:
  scrape_interval: 30s

scrape_configs:
  - job_name: 'cadvisor'
    file_sd_configs:
      - files:
          - {{ prometheus_cadvisor_targets_file_container }}
        refresh_interval: 30s
    metric_relabel_configs:
      # drop anything without a `name` label (non-Docker processes)
      - source_labels: [name]
        regex: ''
        action: drop
  - job_name: 'nodeexporter'
    file_sd_configs:
      - files:
          - {{ prometheus_nodeexporter_targets_file_container }}
        refresh_interval: 30s
    metric_relabel_configs:
      # drop anything without a `name` label (non-Docker processes)
      - source_labels: [name]
        regex: ''
        action: drop

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - '{{ hostvars['monitoring'].ansible_host }}:{{ alertmanager_frontend_port }}'

rule_files:
  - "{{ prometheus_alerts_dir_container }}/*.yaml"