global:
  scrape_interval: 30s

scrape_configs:
  - job_name: 'cadvisor'
    file_sd_configs:
      - files:
          - {{ prometheus_docker_targets_file_container }}
        refresh_interval: 30s
    metric_relabel_configs:
      # drop anything without a `name` label (non-Docker processes)
      - source_labels: [name]
        regex: ''
        action: drop