providers:
{% for provider in traefik_providers %}
  docker-daemon-{{ provider.name }}:
    endpoint: "tcp://{{ provider.host }}:2376"
    name: docker-daemon-{{ provider.name }}
    exposedByDefault: false
    tls:
      ca: /certs/docker-daemon-{{ provider.name }}/ca.pem
      cert: /certs/docker-daemon-{{ provider.name }}/cert.pem
      key: /certs/docker-daemon-{{ provider.name }}/key.pem
{% endfor %}