http:
  routers:
    traefik-dashboard:
      rule: "Host(`{{ subdomain_prefix }}-{{ item }}.{{ cluster_domain }}`)"
      entryPoints: ["websecure"]
      service: api@internal
      middlewares: ["auth"]
      tls:
        certresolver: letsencrypt
{% if item == 'domotic' %}
    homeassistant:
      rule: "Host(`home.domotic.{{ cluster_domain }}`)"
      entryPoints: ["websecure"]
      service: homeassistant
      tls:
        certresolver: letsencrypt

  services:
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://{{ homeassistant_destination_ip }}:{{ homeassistant_frontend_port }}"
{% endif %}

  middlewares:
    auth:
      basicAuth:
        users:
          - "{{ traefik_admin_user }}:{{ traefik_admin_password_bcrypt }}"