version: '3.8'

services:
  homeassistant:
    image: {{ homeassistant_image }}
    container_name: {{ container_name }}
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
      - HASS_DISABLE_BLUETOOTH=true
    volumes:
      - /run/dbus:/run/dbus:ro
{% for volume in volumes %}
      - "{{ volume.src }}:{{ volume.dst }}"
{% endfor %}