version: '3.8'

services:
  tailscale:
    image: {{ tailscale_image }}
    container_name: {{ container_name }}
    network_mode: "host"
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    restart: unless-stopped
    environment:
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_HOSTNAME=homelab
      - TS_ROUTES={{ ip_range }}
      - TS_STATE_DIR={{ tailscale_storage_dir_container }}
    volumes:
{% for volume in volumes %}
      - "{{ volume.src }}:{{ volume.dst }}"
{% endfor %}
