version: '3.8'

services:
  alertmanager:
    image: {{ alertmanager_image }}
    container_name: {{ container_name }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.alertmanager.rule=Host(`{{ subdomain }}.{{ cluster_domain }}`)"
      - "traefik.http.routers.alertmanager.entrypoints=websecure"
      - "traefik.http.routers.alertmanager.tls.certresolver=letsencrypt"
    user: "{{ uid }}:{{ gid }}"
    command:
      - "--config.file={{ alertmanager_config_file_container }}"
      - "--storage.path={{ alertmanager_storage_dir_container }}"
    restart: unless-stopped
    volumes:
{% for volume in volumes %}
      - "{{ volume.src }}:{{ volume.dst }}"
{% endfor %}
    ports:
{% for port in ports %}
      - "{{ port.ext }}:{{ port.int }}"
{% endfor %}
    networks:
      - frontend

networks:
  frontend:
    external: true