version: '3.8'

services:
  mailrise:
    image: {{ mailrise_image }}
    container_name: {{ container_name }}
    restart: unless-stopped
    volumes:
{% for volume in volumes %}
      - "{{ volume.src }}:{{ volume.dst }}"
{% endfor %}
    ports:
{% for port in ports %}
      - "{{ port.ext }}:{{ port.int }}"
{% endfor %}